<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Supers Unltd.</title>
</head>
<body >
  <header>
    <p class="superHeader" >SuperSports Unltd.</p>
    <nav>
      <ul class="nav_links">
        <% if (user) {%>
        <li><a href="/supers">Showcase</a></li>
        <li><a href="#">Wishlist</a></li>
      </ul>
    </nav>
    <% } else { %>
    <a class="cta" href="/auth/google"><button>Log In</button></a>
    <% } %>
  </header>
  <main class="bg">