<%- include('../partials/header') %>
<section class="bikeCase">
    <div class="bikeImg"><img src="../bikeIndex/h2r.jpg" alt="bike" width="300" height="240px"></div>
    <div class="bikeTxt">
        <h3 class="model">Ninja H2R</h3>
        <h4 class="make">Kawasaki</h4>
        <p class="bikeDsc">Built for speed and performance. This is a pure racing machine with the trademark Ninja style. There's no surprise that it's the worlds fastest production bike! </p>
        <button class="specsClk"><a href="#">Specifications</a></button>
    </div>
</section>
<section class="bikeCase">
    <div class="bikeImg"><img src="../bikeIndex/r1.jpeg" width="300"></div>
    <div id="bikeTxt">
        <h3 class="model">R1 GYTR PRO</h3>
        <h4 class="make">Yamaha</h4>
        <p class="bikeDsc"></p>
        <button class="specsClk"><a href="#">Specifications</a></button>
    </div>
</section>
<section class="bikeCase">
    <div class="bikeImg"><img src="../bikeIndex/v2.jpg" width="300" height="200px"></div>
    <div class="bikeTxt">
        <h3 class="model">Panigali v2</h3>
        <h4 class="make">Ducati</h4>
        <p class="bikeDsc"></p>
        <button class="specsClk"><a href="#">Specifications</a></button>
    </div>
</section>
<section class="bikeCase">
    <div class="bikeImg"><img src="../bikeIndex/s1.jpeg" width="300"></div>
    <div class="bikeTxt">
        <h3 class="model">s1000rr</h3>
        <h4 class="make">BMW</h4>
        <p class="bikeDsc"></p>
        <button class="specsClk"><a href="#">Specifications</a></button>
    </div>
</section>
<section class="bikeCase">
    <div class="bikeImg"><img src="../bikeIndex/gsx-r1000.jpeg" width="300"></div>
    <div class="bikeTxt">
        <h3 class="model">GSX-R1000</h3>
        <h4 class="make">Suzuki</h4>
        <p class="bikeDsc"></p>
        <button class="specsClk"><a href="#">Specifications</a></button>
    </div>
</section>





<%- include('../partials/footer') %>