<%- include('../partials/header') %>

<form action="/supers" method="POST">
    <label>Make:</label>
    <input type="text" name="make">
    <label>Model:</label>
    <input type="text" name="model">
    <input type="submit" value="Add Super">

</form>


<%- include('../partials/footer') %>