<%- include('./partials/header') %>

<h2>Super Sports Unlimited</h2>
    <div class="bikeHome">
        <img class="logo" src="../bikeHome/suzuH.png" alt="bike">
        <img class ="logo" src="../bikeHome/yamahaH.png" alt="bike">
        <img class ="logo" src="../bikeHome/bmwH.png" alt="bike">
        <img class ="logo" src="../bikeHome/ductaiH.png" alt="bike">
        <img class ="logo" src="../bikeHome/kawaH.png" alt="bike">
    </div>


<%- include('./partials/footer') %>