<%- include('./partials/header') %>

<h2>welcome to the future</h2>
    <div class="bikeHome">
        <img src="/bikeHome/panigaleHOME.png" alt="bike">
        <img src="/bikeHome/r1HOME.png" alt="bike">
        <img src="/bikeHome/s1000HOME.png" alt="bike">
        <img src="/bikeHOME/h2rHOME.png" alt="bike">
        <img src="/bikeHOME/zx10rHOME.png" alt="bike">
    </div>


<%- include('./partials/footer') %>